/* Custom styles for FAIR-biomed */

h1.title {
    margin-bottom: 0.75em;
    margin-top: 0.5em;
    font-size: 1.8em;
}
h2, h3, h4 {
    font-size: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}

/** make the page slightly wider than standard bootstrap **/
@media (min-width: 576px) {
    .container {
        max-width: 570px;
    }
}
@media (min-width: 672px) {
    .container {
        max-width: 666px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 760px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 982px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}
div.clear {
    clear: both;
}

/** brand **/
span#fair-brand {
    font-size: 28px;
    col: #222222;
    font-weight: 600;
}
.catchphrase {
    clear: both;
    line-height: 1.2;
    color: #343434;
    font-weight: 300;
    font-size: 15px;
    padding: 4px;
}


/** Links **/
a.plain {
    color: inherit;
    text-decoration: none;
}
a {
    color: #767676;
}
a:hover {
    color: #404040;
}
div.col-content a {
    color: #22b5bb;
}
img.center {
    display: block;
    margin: 0 auto;
}

/** Table of contents **/
li.toc-part {
    margin-top: 0;
}
li.toc-space {
    margin-top: 1.5em;
}
div.sticky-top {
    padding-top: 1em;
}
#primary-toc {
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #767676;
    border: solid 1px #e8e8e8;
}
#primary-toc li:hover {
    background-color: #f4f4f4;
    border-left: solid 1px #404040;
    margin-left: -1px;
}
#primary-toc li.selected {
    border-left: solid 2px #404040;
    margin-left: -1.5px;
}
#primary-toc li>a {
    padding: 4px 14px;
    padding-right: 2px;
    color: #767676;
}
#primary-toc li.toc-part>a.toc-part {
    background-color: #eaeaea;
    color: #202020;
}
#primary-toc li>a.toc-part:hover {
    background-color: #f4f4f4;
    color: #202020;
}
#primary-toc li>a.toc-part:hover {
    text-decoration: none;
}
nav.nav {
    font-size: 14px;
    font-weight: 500;
    color: #767676;
}
ul.nav {
    width: 100%;
}
/** navigation to internal sections **/
nav[data-toggle="toc"] {
    top: 42px;
    line-height: 1;
}
nav[data-toggle="toc"] .nav>li {
    padding: 4px 20px;
}
nav[data-toggle="toc"] .nav>li:hover {
    padding: 4px 20px;
    padding-right: 2px;
    border: none;
}
nav[data-toggle="toc"] .nav>li>a {
    font-size: 14px;
    border-left: none;
    font-weight: 400;
    padding: 0;
}
nav[data-toggle="toc"] .nav>li>a.nav-link:hover {
    border-left: none;
}
div.col-content, div.col-toc {
    margin-top: 1em;
}


/** Social-media **/
#menu-media {
    margin-top: 1em;
}
#menu-media div.menu-media-icon {
    text-align: center;
    font-size: 1.5em;
}
#menu-media div.menu-media-icon a {
    color: #767676;
}
#menu-media div.menu-media-icon a:hover {
    color: #404040;
}


/** Footer **/
div.end-of-content {
    margin-top: 6em;
    padding-top: 1em;
    border-top: solid 1px #767676;
}
div.end-of-content a {
    color: #545454;
    font-size: 13px;
}
div.end-of-content a:hover {
    color: #222222;
}
div.end-of-content i.edit {
    font-size: 1.4em;
}
div.footer {
    margin-top: 4em;
    color: #222222;
    font-size: 13px;
    padding-bottom: 1em;
}

/** Table with news stories **/
i.pad-md {
    padding-right: 4px;
    padding-left: 4px;
}
table.news-table {
    margin-bottom: 0.75em;
}
table.news-table td {
    padding-right: 10px;
}
div.news-comment {
    margin-top: 0.25em;
    font-size: 13px;
    color: #545454;
}