<div id="menu-media" class="container">
    <div class="menu-media-icon">
        <a href="https://twitter.com/intent/tweet?text=FAIR-biomed: An %23opensource browser extension to access %23opendata biomedical resources from any web page https://chrome.google.com/webstore/detail/fair-biomed/kaacnnmpcdbebmkbcddpckgpgphhcdhn Source code: https://github.com/FAIR-biomed/FAIR-biomed" target="_blank" title="Spread the word on Twitter">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="menu-media-icon">
        <a href="https://github.com/FAIR-biomed/FAIR-biomed" target="_blank" title="Contribute">
            <i class="fab fa-github"></i>
        </a>
    </div>
</div>